/*=======================header========================*/
.logo{
	width: 40%;
}

.nav-bar{
	background-color:#71D0EB;
	float: left;
	position: relative;
	top: -4px;

}

.nav-bar ul{
	text-decoration: none;
	padding: 17px;
	width: 181px;
	margin:	0;
	border-right: solid black 15px;
}

.nav-bar li{
	font-size: 30px;
	padding: 10px;
}

/*==========================main text======================*/
.main-text{
	margin: 0, 15px, 10px, 15px; 
}


/*===========================media queries====================*/
@media max-width(900px){
	.logo{
		width: 100%;
	}
}