/* =========================mixin========================= */
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  left: -5px;
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

/*=======================header======================== */
.logo {
  height: 100%;
  width: 100%;
  opacity: 0.75;
  /* position: absolute */ }
  .logo .bxslider {
    transform: translate3D(0, 0, 0); }

.main-text {
  margin: 0, 15px, 10px, 15px; }

.headline {
  font-family: "Gill Sans";
  font-variant: "Ultra Bold";
  text-align: center;
  color: white;
  font-size: 7.5em;
  display: inline;
  z-index: 1; }

.container {
  height: auto; }

/* =======================parallax============================ */
.parallax {
  -webkit-perspective: 1px;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.menu {
  -webkit-transform: translate3D(0px, -1700px, 0px);
  -moz-transform: translate3D(0px, -1700px, 0px);
  -ms-transform: translate3D(0px, -1700px, 0px);
  -o-transform: translate3D(0px, -1700px, 0px);
  transform: translate3D(0px, -1700px, 0px); }

.top_photo {
  -webkit-transform: translate3D(0, 0, -1px) scale(2);
  -moz-transform: translate3D(0, 0, -1px) scale(2);
  -ms-transform: translate3D(0, 0, -1px) scale(2);
  -o-transform: translate3D(0, 0, -1px) scale(2);
  transform: translate3D(0, 0, -1px) scale(2); }

.bot_photo {
  -webkit-transform: translate3D(0, 350px, -1px) scale(1.5);
  -moz-transform: translate3D(0, 350px, -1px) scale(1.5);
  -ms-transform: translate3D(0, 350px, -1px) scale(1.5);
  -o-transform: translate3D(0, 350px, -1px) scale(1.5);
  transform: translate3D(0, 350px, -1px) scale(1.5);
  background-color: black; }

/* ============================Body============================ */
.main-text ul {
  font-family: "didot";
  font-variant: italic;
  list-style-type: none;
  padding: 0;
  border-top: black solid 2px; }
  .main-text ul li {
    border-bottom: black solid 2px;
    font-size: 3em; }
    .main-text ul li ul {
      font-size: 0.3em; }
  .main-text ul div {
    width: 27.98%; }

.buttons {
  /* @include flexbox() */
  width: 100%; }

.parent {
  background-color: white;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  transition: background-color 0.4s;
  height: 400px;
  width: 400px; }
  .parent .icon {
    max-width: 100%; }
  .parent:hover {
    background-color: #AEA8D3;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    transition: background-color 0.4s; }

.icon_text {
  color: white; }

.drop_down {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  position: absolute;
  margin-top: -89px; }
  .drop_down ul {
    background-color: white; }
  .drop_down .list_2 ul {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center; }

.flex-con {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  min-height: 700px;
  background-color: black; }

.preshow:hover {
  background-color: pink;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  transition: background-color 0.4s; }

.showcase {
  height: 0px;
  overflow: hidden; }

/*===========================media queries==================== */
@media (min-width: 825px) and (max-width: 1107px) {
  .nav-bar li {
    display: block;
    margin-left: 0; }
  .nav-bar:first-child {
    margin-left: 0; } }
@media (max-width: 824px) {
  .logo {
    width: 100%; }

  .nav-bar {
    width: 100%;
    height: 0%; }
    .nav-bar ul {
      border-right: none; }
    .nav-bar li {
      border: none;
      height: 0;
      width: auto;
      display: block;
      margin-left: 0; }
      .nav-bar li:first-child {
        margin-left: 0; } }
/*=========================JS calls=========================== */
.expand {
  height: 500px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s; }

.drop {
  height: 100px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s; }

/*# sourceMappingURL=main.css.map */
