/* =========================mixin========================= */
@import 'jquery.bxslider'
@import 'flex_box'
@mixin transform($x)
  -webkit-transform: $x
  -moz-transform: $x
  -ms-transform: $x
  -o-transform: $x
  transform: $x

/*=======================header========================*/

.logo
  height: 100%
  width: 100%
  opacity: .75
  .bxslider
    transform: translate3D(0,0,0)
  /* position: absolute */
.nav-bar
  //position: relative
  // ul
  //   text-decoration: none
  //   padding: 17px
  //   margin: 0
  // li
  //   font-size: 30px
  //   margin-left: 150px
  //   display: inline-block
  //   height: 250px
  //   width: 250px
  //   border: solid black 5px
  //   background-color: #71D0EB
  //   color: black
  //   &:first-child
  //     margin-left: 80px
.main-text
  margin: 0, 15px, 10px, 15px
.headline
  font-family: "Gill Sans"
  font-variant: "Ultra Bold"
  text-align: center
  color: white
  //margin-top: -378px
  //margin-bottom: 378px
  font-size: 130px 
  display: inline
  z-index: 1
.container
  height: auto
/* =======================parallax============================ */
.parallax 
  -webkit-perspective: 1px
  perspective: 1px
  height: 100vh
  overflow-x: hidden
  overflow-y: auto
.parallax__layer 
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
.menu
  @include transform(translate3D(0px, -1700px, 0px))
.top_photo
  @include transform(translate3D(0, 0, -1px) scale(2))
.bot_photo
  @include transform(translate3D(0, 350px, -1px) scale(1.3))
/* ============================Body============================ */
.main-text
  ul
    font-family: "didot"
    font-variant: italic
    font-size: 75px
    list-style-type: none
    padding: 0
    border-top: black solid 2px
    li
      border-bottom: black solid 2px
    div
      width: 100%
.parent
  background-color: white
  -webkit-transition: background-color 0.4s
  -moz-transition: background-color 0.4s
  transition: background-color 0.4s
  height: 200px
  width: 300px
  float: left
  &:hover
    background-color: #AEA8D3
    -webkit-transition: background-color 0.4s
    -moz-transition: background-color 0.4s
    transition: background-color 0.4s
.drop_down
  height: 0
  overflow: hidden
  -webkit-transition: height 0.3s 
  -moz-transition: height 0.3s
  transition: height 0.3s
  position: absolute
.buttons
  @include flexbox()
  justify-content: space-between
  background-color: black
  height: 600px
/* =============================Footer============================ */


/*===========================media queries====================*/
@media (min-width: 825px) and (max-width: 1107px)
  .nav-bar
    li 
      display: block
      margin-left: 0
    &:first-child
      margin-left: 0
@media (max-width: 824px)
  .logo
    width: 100%
  .nav-bar
    width: 100%
    height: 0%
    ul
      border-right: none
    li
      border: none
      height: 0
      width: auto
      display: block
      margin-left: 0
      &:first-child
        margin-left: 0
/*=========================JS calls===========================*/

.expand
  height: 500px
  -webkit-transition: height 0.3s 
  -moz-transition: height 0.3s
  transition: height 0.3s